In [2]:
import pandas as pd

In [6]:
header = ['Naive_1', 'Naive_2', 'Naive_3', 'Naive_4', 'Early_Pre-TFH_1', 'Early_Pre-TFH_2', 'Early_Pre-TFH_3', 'Early_Pre-TFH_4', 'Late_Pre-TFH_1', 'Late_Pre-TFH_2', 'Late_Pre-TFH_3', 'Late_Pre-TFH_4', 'GC_1', 'GC_2', 'GC_3', 'GC_4']

rna_seq = pd.read_csv('../../Input_data/Run_313.atac-seq-correl.rsem.pe.hg38.ensembl.counts.matrix.results.normalized_data_matrix.tsv', skiprows = [0], names=header, sep ='\t')
rna_seq = rna_seq.reset_index()

rna_seq = rna_seq.rename(columns={'index': "Gene"})
rna_seq[['Gene_ID', 'Gene_Name']] = rna_seq.Gene.str.split("_",n=1, expand=True)

In [13]:
for state in header:
        rna_df = rna_seq[['Gene_Name','{0}'.format(state)]]
        rna_df.to_csv('../../Sample_outputs/sorted_bulk/separated_tsv/{0}.tsv'.format(state), sep = '\t', index=False, header=None)

In [15]:
gc = pd.read_csv('../../Sample_outputs/sorted_bulk/separated_tsv/GC_1.tsv', sep = '\t', header = None)

In [16]:
gc

                   0          1
0             TSPAN6   0.000000
1               TNMD   0.000000
2               DPM1  15.690793
3              SCYL3   3.033553
4           C1orf112   3.068422
...              ...        ...
60670  CTD-2060L22.1   0.000000
60671   RP11-107E5.4   0.000000
60672          HYMAI   0.000000
60673     RARRES2P11   0.000000
60674   RP11-299P2.2   0.000000

[60675 rows x 2 columns]